<form [formGroup]="form">
  <h4>Nested Selects: Country-State-City</h4>
  <mat-form-field appearance="fill">
    <mat-label>Country</mat-label>
    <mat-select
      [formControl]="country"
      name="country"
      [errorStateMatcher]="matcher"
    >
      <mat-option *ngFor="let country of countries" [value]="country.shortName">
        {{ country.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="country.hasError('required')"
      >Please select a country.</mat-error
    >
  </mat-form-field>
  <button mat-stroked-button class="btn" (click)="country.reset()">
    Clear
  </button>
  <p></p>
  <mat-form-field appearance="fill">
    <mat-label>State</mat-label>
    <mat-select
      [formControl]="state"
      name="state"
      [errorStateMatcher]="matcher"
    >
      <mat-option *ngFor="let state of states" [value]="state">
        {{ state }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="state.hasError('required')"
      >Please select a state.</mat-error
    >
  </mat-form-field>
  <button mat-stroked-button class="btn" (click)="state.reset()">Clear</button>
  <p></p>
  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <mat-select [formControl]="city" name="city" [errorStateMatcher]="matcher">
      <mat-option *ngFor="let city of cities" [value]="city">
        {{ city }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="city.hasError('required')"
      >Please select a city.</mat-error
    >
  </mat-form-field>
  <button mat-stroked-button class="btn" (click)="city.reset()">Clear</button>
  <p>Country: {{ country.value }}</p>
  <p>State: {{ state.value }}</p>
  <p>City: {{ city.value }}</p>
</form>
