<form>
  <h4>Nested Selects: Country-State-City</h4>
  <mat-form-field appearance="fill">
    <mat-label>Country</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="country">
      <mat-option *ngFor="let country of countries" [value]="country.shortName">
        {{ country.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p></p>
  <mat-form-field appearance="fill">
    <mat-label>State</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="state">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{ food.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p></p>
  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="city">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{ food.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
